注册于 <%= @res['created_at'] %>
<div id='test' style='height: 300px;'>
<ul>
  <li class='tc'>list item 1</li>
  <li class='tc'>list item 2</li>
  <li class='tc'>list item 3</li>
  <li class='tc'>list item 4</li>
  <li class='tc'>list item 5</li>
</ul>
</div>
 <div id="content">Dynamic Content goes here</div>
    <div id="page-selection">Pagination goes here</div>
    <script>
        // init bootpag
        $('#page-selection').bootpag({
            total: 10
        }).on("page", function(event, /* page number here */ num){
             $('.tc').css('display','') 
             $('.tc').slice(0, num).css('display', 'none'); // some ajax content loading...
        });
    </script>
